%h2 play missions
%p
  As you receive Play Missions, they become unlocked and you can see documentation for each mission by the entire community of players. 
%table
  %tr
    %th id
    %th Campaign
    %th Description
    %th Documentation
  - missions.each do |mission|
    %tr
      %td= mission.id
      %td= mission.campaign.description
      %td= mission.description
      - if editable
        %td
          %a(href="/admin/missions/#{mission.id}/edit") Edit Mission
          %br
          %a(href="/admin/missions/#{mission.id}/destroy") Delete Mission
      - else
        %td
          %a(href="/missions/#{mission.id}") View
