%h2 Play Missions
%p
  Here are the Play Missions you have received. You can view documentation of others who have completed this mission. Also, feel free to post your own documentation!  See more sample missions 
  %a(href="/play") here.
%table
  %tr
    %th id
    %th Campaign
    %th Description
    %th Documentation
  - missions.each do |mission|
    %tr
      %td= mission.id
      %td= mission.campaign.description
      %td= mission.description
      - if editable
        %td
          %a(href="/admin/missions/#{mission.id}/edit") Edit Mission
          %br
          %a(href="/admin/missions/#{mission.id}/destroy") Delete Mission
      - else
        %td
          %a(href="/missions/#{mission.id}") View
