%h2.prepend-4= "Update Mission #{mission.id}"
%form.push-4(action="#{action}" method="POST")
  %label Description:
  %br
  %textarea.span-8(name="description")= mission.description
  %br
  %input(type="submit" value="Update Mission")
  %input(type="reset")
  %br
  %br
  %a(href="/admin/missions/#{mission.id}/destroy") Delete Mission
