.ps-profile
  .ps-profile-documentation.span-11.colborder
    %h2 playground society
    - if mission.documents.count > 0
      - mission.documents.all.each do |doc|
        %p
          %img.span-3(src="http://playgroundsociety.s3.amazonaws.com/#{doc.user.id}#{doc.path}")
          %p
            %strong Description: 
            #{doc.description}
          %p
            %strong User: 
            %a(href="/users/#{doc.user.id}") #{doc.user.login}
        .clear
        %br
        %hr
    - else
      %p
        No documentation yet.
  .ps-profile-sidebar.span-4.last
    %h3= "#{mission.campaign.description} #{mission.id}"
    %hr
    %p= mission.description

