%header
  %h1= "Update Mission #{mission.id}"
.edit
  %form(action="#{action}" method="POST")
    %label
      Description:
      %br
      %textarea.edit(name="description")= mission.description
    %br
    %input(type="submit" value="Update Mission")
    %input(type="reset")

    -# %form(action="/missions/#{mission.id}/destroy" method="POST")
    -#  %input(type="submit" value="Delete Mission")

