%h2 Missions
%table
  %tr
    %th id
    %th Campaign
    %th Description
    %th Actions
  - missions.each do |mission|
    %tr
      %td= mission.id
      %td= mission.campaign.description
      %td= mission.description
      - if editable
        %td
          %a(href="/admin/missions/#{mission.id}/edit") Edit
          %a(href="/admin/missions/#{mission.id}/destroy") Delete
      - else
        %td
          %a(href="/missions/#{mission.id}") View
