%h2.prepend-6= "Update User #{user.id}"
%form.push-6(action="#{action}" method="POST")
  %label Username:
  %br
  %input(type="text" name="login" value="#{user.login}")
  %br

  %label Phone:
  %br
  %input(type="text" name="phone" value="#{user.phone}")
  %br

  %br
  %input(type="submit" value="Update User")
  %form(action="/users/#{user.id}/destroy" method="POST")
    %input(type="submit" value="Delete")
