%h2.prepend-6= "Update Profile"
%form.push-6(action="#{action}" method="POST")
  %label Username:
  %br
  %input(type="text" name="login" value="#{user.login}")
  %br

  %label Name:
  %br
  %input(type="text" name="name" value="#{user.name}")
  %br


  %label E-mail:
  %br
  %input(type="text" name="email" value="#{user.email}")
  %br

  %label Location:
  %br
  %input(type="text" name="location" value="#{user.location}")
  %br

  %br
  %input(type="submit" value="Update User")
