.ps-profile
  .ps-profile-documentation.span-11.colborder
    .flash= flash[:notice]
    %h2 #{user.login}'s playground
    %p
      - if private
        %a(href="/account/document/new") Add Play Documentation
    %hr
    - if user.documents.count > 0
      - user.documents.all.each do |doc|
        - if doc.visible
          %p
            %h4= "#{doc.mission.campaign.description} #{doc.mission.id}"
            %img.span-3(src="http://playgroundsociety.s3.amazonaws.com/tn/#{user.id}#{doc.path}")
            %p
              #{doc.description}
            - if private
              %a(href="/account/document/edit/#{doc.id}") Edit
              %a(href="/account/document/delete/#{doc.id}") Delete
            .clear
          %hr
    - else
      %p
        No documentation yet.
  .ps-profile-sidebar.span-4.last
    %h3= "#{user.login}"
    %hr
    %p
      %label Name: 
      %br
      #{user.name}
    %p
      %label E-mail:
      %br
      #{user.email}
    %p
      %label Twitter:
      %br
      #{user.twitter}
    %p
      %label Location:
      %br
      #{user.location}
    %hr
    %p
      %i All profiles are public. Adding information is optional.
    - if private
      %p
        %a(href="/account/update_profile") Update Profile
