.ps-profile
  %hr
  .ps-profile-documentation.span-11.colborder
    %h3 Documentation
    - if user.documents.count > 0
      - user.documents.all.each do |doc|
        %p
          %h4= "#{doc.mission.campaign.description} #{doc.mission.id}"
          %img.span-3(src="http://playgroundsociety.s3.amazonaws.com/#{user.id}#{doc.path}")
          %p
            %strong Description: 
            #{doc.description}
        .clear
    - else
      %p
        No documentation yet.
  .ps-profile-sidebar.span-4.last
    %h3= "#{user.login}"
    %hr
    %p
      %a(href="/account/new_document") Add Documentation
