%header
  %h1= "Update User #{user.id}"
.edit
  %form(action="#{action}" method="POST")
    %label
      Username: 
      %input(type="text" name="username" value="#{user.username}")
    %br

    %label
      Phone: 
      %input(type="text" name="phone" value="#{user.phone}")
    %br
    %input(type="submit" value="Update User")
    %input(type="reset")

