%h2 Users
.flash= flash[:notice]
%table
  %tr
    %th id
    %th Created
    %th Login
    %th Phone
    %th SMS
    %th Active?
    %th Edit
  - users.each do |user|
    %tr
      %td= user.id
      %td= user.created_at
      %td= user.login
      %td= user.phone
      %td
        %form(action="/admin/users/#{user.id}/sendsms" method="POST")
          %textarea(rows="2" cols="5" name="message" placeholder="Write a SMS message")
          %br/
          %input(type="submit" value="Send SMS")
      %td= user.active
      %td
        %a(href="/admin/users/#{user.id}/edit") Edit
        %a(href="/admin/users/#{user.id}/delete") Delete
